<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="css/styles.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sh
    a384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>WhatsIn </title>
</head>

<body>
  <div class="jumbotron">
    <h1> WhatsIn </h1>
  </div>
  <div class="text-right">
    {% if logged_in == true %}
    <button type="button" class="btn btn-danger">Logout 🚪 </button>
    {% else %}
    <form action="/login" method="get">
      <button type="submit" class="btn pull-right btn-primary" id="login-btn"> Login </button>
    </form>
    {% endif %}
  </div>
  {% block content %}{% endblock %}
</body>

