  {% extends "base.html" %}
  {% block content %}
    <div class="content-section">
      <form method="POST" action="">
	      {{ form.hidden_tag() }}  <!--Cross site scripting protection -->
	      <fieldset class="form-group"> <!--   -->
          <legend class="border-bottom mb-4"> Join Today </legend>
	    <div class="form-group">
	      {{ form.username.label(class="form-control-label") }} <!-- The vriables after form. must match pyhon vars. Parenthisis relates to bootstrap stuff  -->
	      {{ form.username(class="form-control form-control-lg") }}
	    </div>
	    <div class="form-group">
              {{ form.email.label(class="form-control-label") }}
              {{ form.email(class="form-control form-control-lg") }}
            </div>
	    <div class="form-group">
              {{ form.password.label(class="form-control-label") }}
              {{ form.password(class="form-control form-control-lg") }}
            </div>
	    <div class="form-group">
              {{ form.confirm.label(class="form-control-label") }}
              {{ form.confirm(class="form-control form-control-lg") }}
            </div>
	    <div class="form-group">
              {{ form.key.label(class="form-control-label") }}
              {{ form.key(class="form-control form-control-lg") }}
            </div>

	  </fieldset>
	    <div class="form-group">
	      {{ form.submit(class="btn btn-outline-info") }}
	    </div>
	  </form>
	    <div class="border-top pt-3">
	      <small class="text-muted">
		Already have an account?
		  <a class="ml-2" href="{{ url_for('login') }}">
	            Sign In 
		  </a> <!-- link passes is the nme of the route FUNCTION not the route itself  -->
		</div>
 	 </div>
   {% endblock %}
